In [2]:
import pandas as pd

In [3]:
channels = pd.read_parquet("./my_dbt_project/models/data/channels.parquet")
channels.head()

  channel_name  channel_id
0     in-store           1
1          web           2
2   mobile app           3

In [27]:
pd.DataFrame({"Dropped Data": channels.isna().sum()},index=channels.columns)

              Dropped Data
channel_name             0
channel_id               0

In [13]:
customers = pd.read_parquet("./my_dbt_project/models/data/customers.parquet")
customers.head()

   customer_id first_name last_name                        email
0            0    Melissa   Pomeroy  Melissa.Pomeroy@example.com
1            1       Sean     Jones       Sean.Jones@example.com
2            2        Amy    Molden       Amy.Molden@example.com
3            3     Johnny    Torres    Johnny.Torres@example.com
4            4     Jessie    Crouch    Jessie.Crouch@example.com

In [28]:
pd.DataFrame({"Dropped Data": customers.isna().sum()},index=customers.columns)

             Dropped Data
customer_id             0
first_name              0
last_name               0
email                   0

In [15]:
main = pd.read_parquet("./my_dbt_project/models/data/main.parquet")
main.head()

,transaction_id,customer_id,product_id,amount,qty,channel_id,bought_date
0,0,55775,Lipetsk193,2.6,1,2,2020-03-26
1,1,18582,Tyumen2598,3.6,1,2,2021-01-02
2,2,10319,Kryvy Rig2257,8.0,5,2,2020-11-09
3,3,97419,Mykolaiv 495,7.2,4,3,2019-01-24
4,4,63829,Madrid2005,2.9,1,2,2020-10-29

In [29]:
pd.DataFrame({"Dropped Data": main.isna().sum()},index=main.columns)

                Dropped Data
transaction_id             0
customer_id                0
product_id                 0
amount                     0
qty                        0
channel_id                 0
bought_date                0

In [17]:
products = pd.read_parquet("./my_dbt_project/models/data/products.parquet")
products.head()

,name,city,price,product_id
0,4x6 Greetings from Moskva (Moscow),Moskva (Moscow),4.2,Moskva (Moscow)1
1,4x6 Greetings from London,London,4.0,London2
2,4x6 Greetings from St Petersburg,St Petersburg,2.7,St Petersburg3
3,4x6 Greetings from Berlin,Berlin,3.9,Berlin4
4,4x6 Greetings from Madrid,Madrid,2.8,Madrid5

In [30]:
pd.DataFrame({"Dropped Data": products.isna().sum()},index=products.columns)

            Dropped Data
name                   0
city                   0
price                  0
product_id             0

In [20]:
resellers = pd.read_parquet("./my_dbt_project/models/data/resellers.parquet")
resellers.head()

   reseller_id                             reseller_name  commission_pct
0         1001            Imaginary Street Press Company            0.15
1         1002        European Example Press Corporation            0.17
2         1003   Scandinavian Legendary Printing Company            0.14
3         1004  Mediterranean Postcard Press Association            0.16

In [31]:
pd.DataFrame({"Dropped Data": resellers.isna().sum()},index=resellers.columns)

                Dropped Data
reseller_id                0
reseller_name              0
commission_pct             0

In [22]:
resellers_type1 = pd.read_parquet("./my_dbt_project/models/data/resellers_type1.parquet")
resellers_type1.head()

,Product name,Quantity,Total amount,Sales Channel,Customer First Name,Customer Last Name,Customer Email,Series City,Created Date,Reseller ID,Transaction ID
0,5.5x8.5 Just settled in Minsk,3,5.7,mobile app,Donald,Fellin,Donald.Fellin@example.com,Minsk,2019-04-01,1001,0
1,4x6 Merry Christmas from London,3,6.6,in-store,Lawrence,Wendt,Lawrence.Wendt@example.com,London,2019-11-09,1001,1
2,4.25x6 Merry Christmas from Barcelona,5,17.5,mobile app,Theresa,Lee,Theresa.Lee@example.com,Barcelona,2020-05-17,1001,2
3,4x6 Come visit me in Novosibirsk,1,1.8,mobile app,Earnest,Peterson,Earnest.Peterson@example.com,Novosibirsk,2019-02-21,1001,3
4,4.25x6 All the love from Milano (Milan),1,3.8,web,Dorinda,Mach,Dorinda.Mach@example.com,Milano (Milan),2019-12-11,1001,4

In [32]:
pd.DataFrame({"Dropped Data": resellers_type1.isna().sum()},index=resellers_type1.columns)

                     Dropped Data
Product name                    0
Quantity                        0
Total amount                    0
Sales Channel                   0
Customer First Name             0
Customer Last Name              0
Customer Email                  0
Series City                     0
Created Date                    0
Reseller ID                     0
Transaction ID                  0

In [3]:
resellers_type2 = pd.read_parquet("./my_dbt_project/models/data/resellers_type2.parquet")
resellers_type2.head()

,date,reseller-id,productName,qty,totalAmount,salesChannel,customer,dateCreated,seriesCity,Created Date,transactionID
0,20190623,1003,4x6 Greetings from Hannover,4,8.8,web,"{'email': 'Roger.Munoz@example.com', 'firstnam...",20190623,Hannover,2019-06-23,0
1,20190717,1003,4x6 Merry Christmas from Kobenhavn (Copenhagen),2,5.4,mobile app,"{'email': 'Barbara.Lowe@example.com', 'firstna...",20190717,Kobenhavn (Copenhagen),2019-07-17,1
2,20200906,1003,5x7 Just settled in Napoli (Naples),5,9.5,in-store,"{'email': 'Gaylene.Lambert@example.com', 'firs...",20200906,Napoli (Naples),2020-09-06,2
3,20190724,1003,4x6 Just settled in Roma,2,5.0,mobile app,"{'email': 'Cedrick.Rogers@example.com', 'first...",20190724,Roma,2019-07-24,3
4,20210120,1003,4x6 All the love from Sofia,4,14.0,mobile app,"{'email': 'Donald.Mckillop@example.com', 'firs...",20210120,Sofia,2021-01-20,4

In [4]:
pd.DataFrame({"Dropped Data": resellers_type2.isna().sum()},index=resellers_type2.columns)

               Dropped Data
date                      0
reseller-id               0
productName               0
qty                       0
totalAmount               0
salesChannel              0
customer                  0
dateCreated               0
seriesCity                0
Created Date              0
transactionID             0